body, html {
    height: 100%;
    margin: 0;
}

.index{
	background-image: url(../images/background1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container{
	margin-top: 5%;
}
@font-face {
	font-family: "Leckerli One";
	src: url('../fonts/LeckerliOne-Regular.ttf') format('truetype');
}
.leckerli{
	font-family: "Leckerli One";
}
#loginarea{
	background-color: #fff;
	padding: 40px 50px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-width: 10px;
	border-color: #e67e22;
}
#loginarea:hover{
	box-shadow: 10px 10px 5px #d6dbdf;
}
#loginbutton{
	padding: 10px 45px;
	background: #2980b9;
	color: #fff;
	border-radius: 15px;
	box-shadow: none;
	border-width: 0px;
}
#loginbutton:hover{
	background: #e67e22;
	color: #fff;
	border-radius: 15px;
	border-width: 0px;
}
nav{
	border-radius: 0px;
	border-width: 0px;
	box-shadow: 0px;
}
.navbar-collapse > .navbar-left > li > a{
	font-weight: bold;
	color: #2980b9;
}
.navbar-collapse > .navbar-left > li > a:hover{
	color: #f39c12;
}
.navbar-collapse > .navbar-right {
	font-weight: bold;
	margin-right: 8px;
}
.addbutton{
	padding: 10px 15px;
	background: #2980b9;
	color: #fff;
	border-radius: 15px;
	box-shadow: none;
	border-width: 0px;
}
.addbutton:hover{
	background: #e67e22;
	color: #fff;
	border-radius: 15px;
	box-shadow: none;
	border-width: 0px;
}
.greenbutton{
	padding: 10px 25px;
	background: #2ecc71;
	color: #fff;
	border-radius: 10px;
	box-shadow: none;
	border-width: 0px;
}

/*Specialization*/
.welcomepage{
	background-image: url(../images/background-smaller.png);
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-top: -40px;
}

#form-row {
  display: flex; /* 2. display flex to the rescue */
  flex-direction: row;

}
.align-bottom {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	display: block;
	bottom: 0;
}

.submit-text{
	margin: auto;
}

.align-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#form-filter{
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	background-color: #e6e9ed;
	padding : 15px 40px;
}
#form-filter:hover{
	box-shadow: 10px 10px 5px #d6dbdf;
}